body{
    margin: 0;
    padding: 0;
    background: rgb(177, 157, 177);
}

.text1 {
    background: grey;
    border: 10px solid brown;
    margin-left: 0;
    position: relative;
    
    
}

.text1 h1 {
    position: relative;
    left: 500px;
    color: darkblue;
    font-family: cursive;
}

.text1 p {
    position: relative;
    left: 500px;
}

.list1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.list1 ul{
    padding: 10px;
}

.list1 ul a {
    text-decoration: none;
    color:brown ;
    padding: 10px;
    margin-top: 10px;
}